# Database
DATABASE_URL="postgresql://user:password@host:5432/database"

# Authentication
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_WS_URL="ws://localhost:3000"

# Raffle/50-50 defaults
NEXT_PUBLIC_RAFFLE_PRICE="10.00"
NEXT_PUBLIC_FIFTY_FIFTY_PRICE="10.00"
